<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront>
                    <report_only>0</report_only>
                </storefront>
                <admin>
                    <report_only>0</report_only>
                </admin>
            </mode>
        </csp>
        <cb_imagesync>
            <general>
                <active>0</active>
                <use_custom_format>0</use_custom_format>
                <set_alt_tag>0</set_alt_tag>
                <type>Ftp</type>
                <log_email_template>imagesync_general_log_email_template</log_email_template>
                <log_emails/>
                <frequency/>
                <import_row_count>100</import_row_count>
                <delete_done_rows/>
            </general>
            <ftp>
                <host/>
                <username/>
                <password/>
                <path/>
                <success_path/>
                <logs_path/>
            </ftp>
        </cb_imagesync>
    </default>
</config>
